<!DOCTYPE html>
	<!--
	AUTHOR: Jacob Kromm jacobkromm0@gmail.com
	VERSION: 1.0
	CREATED: 14.21.2015
	ASSIGNMENT: Staff Directory SPA
	-->
<html lang="en" data-ng-app="staffApp">
	<head>
		<meta charset="utf-8">
		<title>Staff Directory</title>
		<link href="css/normalize.css" rel="stylesheet">
		<link href="css/foundation.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body data-ng-controller="staffCtrl">
		<fieldset>
			<div>
				<h1 class="text-center">Staff Directory</h1>
			</div>
			<div id="staff" class="row text-center">
				<div class="button round small" id="central_staff" data-ng-click="filterByBuilding('Central')">Central Elementary</div>
				<div class="button round small" id="lincoln_staff" data-ng-click="filterByBuilding('Lincoln')">Lincoln</div>
				<div class="button round small" id="ottawa_staff" data-ng-click="filterByBuilding('Ottawa')">Ottawa</div>
				<div class="button round small" id="sheridan_staff" data-ng-click="filterByBuilding('Sheridan')">Sheridan</div>
				<div class="button round small" id="montessori_staff" data-ng-click="filterByBuilding('Montessori')">Montessori</div>
				<div class="button round small" id="ms_staff" data-ng-click="filterByBuilding('MS')">PMS</div>
				<div class="button round small" id="hs_staff" data-ng-click="filterByBuilding('HS')">PHS</div>
				<div class="button round small" id="spitler_staff" data-ng-click="filterByBuilding('Spitler')">Spitler</div>
			</div>
		</fieldset>

		<div class="row" data-ng-if="showStaff == true">
			<div data-ng-include="'pages/stafflist.html'"></div>
		</div>

		<!-- SCRIPTS -->
		<script src="scripts/angular.js"></script>
		<script src="scripts/jquery-2.1.3.min.js"></script>
		<script src="scripts/angular/app.js"></script>
		<script src="scripts/angular/controller1.js"></script>
		<script src="scripts/main.js"></script>
	</body>
</html>